body
{
    margin: 0px;
}

#container {
    position: absolute;
   top:192px;
   /*bottom: 0px;*/
    border:  solid 1px;
    width:1286px;
    height:500px;
  left:10px;
}
#container>div{
    display: table-cell;

    height: 100px;
    width: 50px;
    position: absolute;
    background-color: red;
    text-align: center;
    vertical-align: middle;
}
#wait
{
    visibility: hidden;
    position: relative;
    left: 50vw;
    top:50vh;
    display: inline-block;

}
#movingBall
{
    visibility: visible;
    background-color: blue;
    width: 50px;
    height: 50px;
    display: inline-block;
}
