#container {
    position: absolute;
    top:25vh;
    border:  solid 1px;
    width:100vw;
    height:75vh;
  
}
#container>div{
    display: inline-block;
    height: 50px;
    width: 50px;
    position: absolute;
    background-color: red;
}
